*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #f3f3f3;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

header{
	padding: 0px;
	margin: 0px;
	width: 100%;
	background-color: #76c7c0; 
	height: 80px;
	background-repeat: repeat-x;
	background-image: url("../img/layout/header-backround.png");
	background-position: bottom;

}
/*nav css*/
.menu-main{
	color: #ffffff;
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
}
.menu-main .logo{
	float: left;
	padding: 25px 265px 0px 0px;
	font-size: 25px;
	line-height: 25px;
}
.logo span{
	font-size: 30px;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}
.menu-main ul.manu-first{
	list-style-type: none;
	float: left;
	padding: 0;
	margin: 0;
	    
}
.menu-main ul.manu-first li{
	float: left;
	font-size: 13px;
	line-height: 9px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.search{
	float: right;
	padding: 30px 5px 0px 15px;
	font-size: 16px;
	color: #ffffff;
	line-height: 16px;
}
.menu-main ul.manu-first li a{
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	color: #ffffff;
	border-radius: 5px;
	margin: 25px 5px 20px 5px;
	
	
}
.menu-main ul.manu-first li.active{
	font-size: 14px;
	line-height: 10px;

}
.menu-main ul.manu-first li.active a{
	background-color:#62a29e;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(82,139,134,1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(82,139,134,1);
	box-shadow: 0px 3px 3px 0px rgba(82,139,134,1);
}
.menu-main ul.manu-first li:hover a{
	background-color:#e8645a;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(226,83,75,1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(226,83,75,1);
	box-shadow: 0px 3px 3px 0px rgba(226,83,75,1);
}

.sub-menu {
	position: absolute;
	top:58px;
	padding-top:12px;
	overflow: hidden;
	border-radius: 5px;
	list-style-type: none;
	z-index: 9999;
	visibility: hidden;
	background-image: url('../img/layout/arrow-up.png');
	background-repeat: no-repeat;
	background-position: 12px 7px;
}
ul.manu-first li .sub-menu li{
	padding: 5px;
	font-size: 13px;
	line-height: 9px;
	background-color: #e2534b;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	float: none;	
}
ul.manu-first li .sub-menu li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

ul.manu-first li ul.sub-menu li a{
	padding: 10px 12px;
	display: block;
	background-color:#e8645a;
	text-decoration: none;
	color: #ffffff;
	border-radius: 5px;
	margin: 0px;
}
ul.manu-first li ul.sub-menu li a:hover{
	background-color: #76c7c0;
}

i.fa{
	padding-right: 10px;
	font-size: 13px;
	line-height: 9px;
}
.menu-main ul.manu-first li:hover ul{
	visibility: visible;
}
/*mob menu*/
.menu-main ul.manu-second{
	display: none;
}
.mob_menu{
	
	display: none;
	cursor: pointer;
}
.fa-bars{
	float: right;
	padding: 35px 5px 0px 15px;
	font-size: 16px;
	line-height: 16px;
}
/*img*/
img{
	width: 100%;
}

/*main css*/
div.main{
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	display: flex;
	margin-bottom: 135px;
}
div.box{
	height: 340px;
	width: 25%;
	margin: 15px;	
}
div.first{
	margin-left: 0;
}
div.last{
	margin-right: 0;
}
div.box-text{
	text-align: center;
	background-color: #f8f8f8;
	height: 310px; 
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(229,230,230,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(229,230,230,1);
	box-shadow: 0px 5px 5px 0px rgba(229,230,230,1);
	position: relative;
	cursor: pointer;
}

div.box-text i{
	color: #62bdbd;
	font-size: 60px;
	line-height: 60px;
	padding-top: 50px;
	padding-bottom: 15px;
}
div.box-text p{
	font-size: 13px;
	color: #7f8c8c;
	padding:5px;
	margin-left: 5px;
	margin-right: 5px;
}
div.box-text span{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
div.rm-box{
	position: absolute;
	top:293px;
	text-align: center;
	width: 100%;
}
div.rm-box span{
	padding: 20px 65px 20px 65px;
	font-size: 14px;
	background-color: #62bdbd;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(98,185,176,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(98,185,176,1);
	box-shadow: 0px 5px 5px 0px rgba(98,185,176,1);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;	
}
div.rm-box span a{
	text-decoration: none;
	color: #ffffff; 
}
/*slider*/
#slider .item img{
    display: block;
    width: 100%;
    height: auto;
}
#slider .item .description{
	position: absolute;
	top:30%;
	text-align: center;
	width: 100%;
}
#slider .item h3 span{
	background-color: #e8645a;
	padding: 0px 30px;
	border-radius: 5px;
	font-size: 50px;
	color:  #ffffff;
	line-height: 38px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}
#slider .item h3{
	margin-bottom: 20px;	
}
#slider .item p span{
	padding: 15px 35px;
	font-size: 16px;
	color: #ffffff;
	width: 470px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: inline-block;
}
.owl-carousel{
	margin-bottom: 50px;
}
.owl-theme .owl-controls .owl-page span{
	width: 60px !important;
	height: 5px !important;
	border-radius: 0px !important;
	background-color: #7f8c8c !important;
}
.owl-theme .owl-controls .owl-page.active span{
	background-color: #e8645a !important;
}
.owl-buttons{
	position: absolute;
	top: 40%;
	width: 100%;
}
.owl-buttons div{
	border-radius: 5px !important;
	background-color: #e8645a !important;
	opacity: 1 !important;
	margin: 0 !important;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(226,83,75,1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(226,83,75,1);
	box-shadow: 0px 3px 3px 0px rgba(226,83,75,1);	
}
.owl-prev{
	float: left;
}
.owl-next{
	float: right;
}
i.fa-angle-double-left, i.fa-angle-double-right{
	font-size: 40px;
	padding: 20px 10px 18px 10px;
}

/*responsive*/  
@media only screen and (min-width : 900px) and (max-width : 1145px) {
/*menu*/
.menu-main{
	max-width: 900px;
}
.menu-main .logo{
	padding: 25px 45px 0px 0px;
}
.menu-main ul.manu-first li a{
	margin: 25px 4px 20px 4px;
	padding: 10px 14px;
}
/*slider*/
#slider .item h3 span{
	padding: 0px 20px;
	font-size: 35px;
	line-height: 28px;
}
#slider .item h3{
	margin-bottom: 15px;	
}
#slider .item p span{
	padding: 8px 20px;
	font-size: 14px;
	width: 360px;	
}
.owl-theme .owl-controls .owl-page span{
	width: 35px !important;
}
i.fa-angle-double-left, i.fa-angle-double-right{
	font-size: 20px;
	padding: 10px 5px 9px 5px;
}
/*main*/
div.main{
	max-width: 900px;
	margin-bottom: 95px;
}
div.box{
	margin: 10px;	
}
div.box-text i{
	font-size: 40px;
	line-height: 40px;
	padding-top: 30px;
	padding-bottom: 10px;
}
div.box-text{
	height: 230px; 
}
div.box-text p{
	font-size: 12px;
}
div.box-text span{
	font-size: 14px;
}
div.rm-box{
	top:213px;
}
div.rm-box span{
	padding: 10px 35px 10px 35px;
	font-size: 12px;
}


}

@media only screen and (min-width : 640px) and (max-width : 899px){
/*menu*/
.menu-main{
	/*max-width: 640px;*/
	padding-left: 0px;
	padding-right: 0px;	
}
.menu-main .logo{
	padding-left:15px;
}
.menu-main ul.manu-first{
	display: none;
}
.menu-main ul.manu-second{
	display: block;
	z-index: 10000;
	position: absolute;
	top: 70px;
	width: 100%;
	display: none;
	background-color: #76c7c0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.menu-main ul.manu-second li{
	width: 100%;
	list-style-type: none;
	display: inline-block;
	font-size: 13px;
}
.menu-main ul.manu-second li a{
	text-decoration: none;
	color: #ffffff;
	padding: 8px 0px 8px 15px;
	margin-right: 3px;
	margin-left: 3px;
	display:block;
}
.menu-main ul.manu-second li a:hover{
	background-color:#e8645a;
	border-radius: 5px;
}
.menu-main ul.manu-second li .sub-menu-2{
	display: none;
	background-color: #e2534b;
	border-radius: 5px;
	margin-right: 3px;
	margin-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.menu-main ul.manu-second li .sub-menu-2 li a:hover{
	background-color: #76c7c0;	
}
.mob_menu{
	display: inline-block;
	float: right;
}
i.fa{
	padding-left: 10px;
}
	
/*main*/
div.main{
	max-width: 600px;
	display: flex;
	margin-bottom: 65px;
	flex-wrap:wrap;
}
div.box{
	height: 340px;
	width: 45%;
	margin: 10px;
}
/*slider*/
#slider .item h3 span{
	padding: 0px 15px;
	font-size: 25px;
	line-height: 20px;
}
#slider .item h3{
	margin-bottom: 15px;	
}
#slider .item p span{
	padding: 6px 15px;
	font-size: 12px;
	width: 240px;	
}
.owl-theme .owl-controls .owl-page span{
	width: 25px !important;
}
i.fa-angle-double-left, i.fa-angle-double-right{
	font-size: 15px;
	padding: 8px 3px 7px 3px;
}
} 

@media only screen and (max-width : 639px){ 
	/*menu*/
.menu-main{
	padding-left: 0px;
	padding-right: 0px;	
}
.menu-main .logo{
	padding: 25px 100px 0px 15px;
}
.menu-main ul.manu-first{
	display: none;
}
.menu-main ul.manu-second{
	display: block;
	z-index: 10000;
	position: absolute;
	top: 70px;
	width: 100%;
	display: none;
	background-color: #76c7c0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.menu-main ul.manu-second li{
	width: 100%;
	list-style-type: none;
	display: inline-block;
	font-size: 13px;
}
.menu-main ul.manu-second li a{
	text-decoration: none;
	color: #ffffff;
	padding: 8px 0px 8px 15px;
	margin-right: 3px;
	margin-left: 3px;
	display:block;
}
.menu-main ul.manu-second li a:hover{
	background-color:#e8645a;
	border-radius: 5px;
}
.menu-main ul.manu-second li .sub-menu-2{
	display: none;
	background-color: #e2534b;
	border-radius: 5px;
	margin-right: 3px;
	margin-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.menu-main ul.manu-second li .sub-menu-2 li a:hover{
	background-color: #76c7c0;	
}
.mob_menu{
	display: inline-block;
	float: right;
}
i.fa{
	padding-left: 10px;
}

/*main*/
div.main{
	max-width: 300px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	display: flex;
	margin-bottom: 55px;
	flex-direction:column;
}
div.box{
	height: 340px;
	width: 100%;
	margin: 15px;	
}
/*slider*/

#slider .item h3 span{
	padding: 0px 15px;
	font-size: 18px;
	line-height: 15px;
}
#slider .item h3{
	margin-bottom: 5px;	
}
#slider .item p span{
	padding: 6px 10px;
	font-size: 10px;
	width: 280px;	
}
.owl-theme .owl-controls .owl-page span{
	width: 25px !important;
}
.owl-buttons{
	display: none !important;
}
}